.water {
	background-color: rgb(101, 174, 216);
}

.normal {
	background-color: rgb(212, 212, 212);
}

.grass {
	background-color: rgb(110, 212, 110);
}

.fire {
	background-color: rgb(182, 92, 92);
}

.electric {
	background-color: rgb(238, 212, 98);
}

* {
	font-size: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Helvetica, sans-serif;

	background-image: url(../images/pokeballbackground.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	scroll-behavior: smooth;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.top {
}

.center {
}

.side {
}

#app {
}

#create-form {
	text-align: center;
}

.mainHeading {
	text-align: center;
	color: whitesmoke;
	font-size: 3rem;
	margin: 0.5rem;
}

input,
select {
	background-color: rgb(233, 205, 205);
}
#create-form {
	margin: 20px;
}
.underLine {
	text-decoration: underline;
}
.pokeInput {
	margin: 20px;
}
.pokePic {
	height: auto;
	width: 5rem;
	display: flex;
	margin: auto;
}
.pokePic2 {
	height: auto;
	width: 10rem;
	display: flex;
	margin: auto;
}
.pokePic2 img {
	max-width: 100%;
	max-height: 100%;
}
.pokePic img {
	max-width: 100%;
	max-height: 100%;
}
.headerWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.pokemonBox {
	display: grid;
	justify-content: center;
	margin-bottom: 20px;
}
.pokemonCard {
	color: white;
	height: 100%;
	width: 80%;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0.25px);
	-webkit-backdrop-filter: blur(0.25px);
	border-radius: 20px;
	text-align: center;
}
.pokemonCardSingle {
	color: white;
	height: 100%;
	width: 250px;
	margin: 20px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(0.25px);
	-webkit-backdrop-filter: blur(0.25px);
	border-radius: 20px;
	text-align: center;
}
.pokemonCardSingle .pokemonCardImageSingle {
	height: auto;
	width: auto;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
.pokemonCard .pokemonCardImageSingle {
	height: auto;
	width: 10rem;
	margin: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
.pokemonCardImageSingle img {
	max-width: 100%;
	max-height: 100%;
}
.pokemonCard .pokemonCardImage {
	height: auto;
	width: 8rem;
	margin: 8%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
.pokemonCardImage img {
	max-width: 100%;
	max-height: 100%;
}
main {
	margin-bottom: 20px;
}
#pokeContainer {
	justify-content: space-between;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
